
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Kanit', sans-serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.container {
  min-height: 120vh;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;
}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(45%);
  background-image: url("images/andfild000.jpg");
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 15vh;
  
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  padding: 0 25px;
}
.navbar ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.5px;
  
}
.navbar .logo a {
  font-size: 2.3rem;
  color: #fff;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.footballsic {
  color: #fff;
  padding: 40px 185px;
}
.card {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 40px; 
}
.card h2 {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card .box1,
.box2,
.box3,
.box4
{
  width: 90%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}
.box1 {
  background-image: url("images/trainning.png");
}
.box2 {
  background-image: url("images/rulee.jpg");
}
.box3 {
  background-image: url("images/Legendaryfootball.jpg");
}
.box4 {
  background-image: url("images/tacccc.jpg");
}

.footballsic h2 {
  font-size: 2rem;
  letter-spacing: 2.8px;
}
.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*.txt h1 {
  font-size: 48px;
  display: flex;
  align-items: center;
  gap: 1px;
  
  font-weight: bold;
  font-family: Georgia;
}*/





.txt h1 {
  font-size: 40px !important;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}
.txt h1 img{
 
  width: 100px;
  height: 100px;

}
.footballsic p {
  opacity: 0.4;
}
.tnx h2 i {
  color: #fd7e13;
}
.card div {
  transition: 0.5s;
}
.card div:hover {
  transition: 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.logo img {
  filter: brightness(0) invert(1);
}
.footballsic {
  width: 70%;
}
.txt {
  display: flex;
  justify-content: center;
}