
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Kanit', sans-serif;
}

body {
    background-image: url("images/sanam.png"); 
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    
    
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;    
    overflow: hidden;
}

.login-card {
    background: white;
    width: 90%;
    max-width: 420px;
    padding: 50px 40px;
    border-radius: 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-title {
    color: #0e4a9e;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.form-subtitle {
    color: #777;
    font-size: 0.85rem;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input, 
.custom-select {
    width: 100%;
    padding: 18px 25px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-size: 0.95rem;
    outline: none;
}

.btn-signin {
    width: 100%;
    padding: 16px;
    background-color: #0e4a9e;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
}

.signup-text a {
    color: #0e4a9e;
    text-decoration: none;
    font-weight: 600;
}